
<body>
<h2>Which Party Bus Will You Choose?</h2>
<div class="big-div-box" >
  
  {{!-- //<div class ="flex"> --}}
    {{#each bus}}
      <div class="bus">
        <img class = 'img' src="/images/bus{{id}}.jpg" alt="{{name}}" width="400" height="400">
        <p>{{description}}</p>
      </div>
    {{/each}}
  </div>
</body>