
<section class="">
  <h2>Which Party Bus Will You Choose?</h2>

  <ul>
    {{#each bus}}
    <div class="flex-container">
      <li>
        <h3> {{name}}</h3>
        <p>{{description}}</p>
        <img src="">
      </li>
    </div>
    {{/each}}
  </ul>

</section>