
<body>
<div >
  <h2>Which Party Bus Will You Choose?</h2>
  <div>
    {{#each bus}}
      <div class="gallery">
  {{!-- <a target="_blank" href="link to bus page here"> --}}
    <img src="/images/bus{{id}}.jpg" alt="{{name}}" width="600" height="400">
    <div class="desc">{{description}}</div> 
  {{!-- </a> --}}
  
    </div>
{{!-- </div> --}}
    {{/each}}
</div>
</body>