
<section class="">
  <h2>Party Bus Schedule</h2>

  <ul>
    {{#each schedule}}
    <div class="flex-container">
      <li>
        <h3> {{name}}</h3>
        <p>{{day}}</p>
        
      </li>
      <br>
    </div>
    {{/each}}
  </ul>

</section>