
<section>
  <h2>Party Bus Schedule</h2>

  <ul class="big-div-box">
    {{#each schedule}}
    <div class="flex">
      <li>
        <h3> {{day}}</h3>
        <p>{{name}}</p>
      </li>
      <br>
    </div>
    {{/each}}
  </ul>

</section>